/**
 *
 * Project Name: ******;
 * Author: Abdulaha Islam;
 * Version: 1.0.1;
 * Company: Abnipes Network;
 * Descriptions: ****** is an html5 responsive e-commerce template;
 *
 *
 *
 **************
 * CSS TABLE OF CONTENTS
 **************
 *
 * 01. Default css
 * 02. Variables
 * 03. Header
 *     
 *     
 *
 * 
 */

/* 01. Default css */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap');

body {
    font-family: 'Nunito Sans', sans-serif;
}

a {
    text-decoration: none;
    transition: all 0.3s ease;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    width: 100%;
}



/* 02. Variables */
:root {
    --primary: #f15724;
    --secondary: #202b31;
    --gray: #585858;
    --graybg: #f7f7f6;
    --white: #ffffff;
    --bebas: "Bebas Neue";
}

/* 03. Header */
.header-hero {
    background: #ddd;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
}

.header .row {align-items: baseline;}

.site-logo {
    width: 155px;
}

.site-logo img {
    width: 100%;
}

.header-nav-menu {
    text-align: right;
}

.header-nav-menu ul {}

.header-nav-menu ul li {
    display: inline-block;
    font-size: 18px;
    padding: 0 20px;
}

.header-nav-menu ul li a {
    color: #fff;
}
