/**
 *
 * Project Name: ******;
 * Author: Abdulaha Islam;
 * Version: 1.0.1;
 * Company: Abnipes Network;
 * Descriptions: ****** is an html5 responsive e-commerce template;
 *
 *
 *
 **************
 * CSS TABLE OF CONTENTS
 **************
 *
 * 01. Default css
 * 02. Variables
 * 03. Header
 * 04. Header Menu
 *     
 *     
 *
 * 
 */

/* 01. Default css */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap');

body {
    font-family: 'Nunito Sans', sans-serif;
}

a {
    text-decoration: none;
    transition: all 0.3s ease;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    width: 100%;
}



/* 02. Variables */
:root {
    --primary: #f15724;
    --secondary: #202b31;
    --gray: #585858;
    --graybg: #f7f7f6;
    --white: #ffffff;
    --bebas: "Bebas Neue";
}

/* 03. Header */
header {}

.header-top {
    background: #ffffff;
    padding: 8px 0;
}

.header-link {
}

.header-link ul {}

.header-link ul li {
    display: inline-block;
}

.header-link ul li a {
    color: #246071;
    font-size: 13px;
    line-height: 28px;
    text-decoration: underline;
}

.header-link ul li a:hover {
    text-decoration: none;
}

span.separetor {
    font-size: 13px;
    display: inline-block;
    padding: 0 4px;
}

.header-social-link {
    text-align: right;
}

.header-social-link ul {}

.header-social-link ul li {
    display: inline-block;
}

.header-social-link ul li a {
    font-size: 14px;
    color: #246071;
    display: inline-block;
    padding-left: 15px;
}

/* 04. Header Menu */
.header-menu {
    z-index: 9;
}

.site-logo {
    width: 160px;
}

.site-logo img {}

.header-menu-area {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.nav-menu {
}

.nav-menu ul.main-menu {}

.nav-menu ul.main-menu li {
    position: relative;
    display: inline-block;
    padding: 40px 0px 40px 40px;
}

.nav-menu ul.main-menu li a {
    position: relative;
    color: #5e5e5e;
    display: inline-block;
}

.nav-menu ul.main-menu li a:before {
    content: "";
    width: 0;
    height: 1px;
    background: #6754e2;
    position: absolute;
    bottom: 0;
    left: auto;
    right: 0;
    transition: all .2s linear;
}

.nav-menu ul.main-menu li:before {
    background: #d56f5b;
}

.nav-menu ul.main-menu li.active a:before, 
.nav-menu ul.main-menu li:hover a:before {
    width: 100%;
    left: 0;
    right: auto;
    background: #d56f5b;
}

.nav-menu ul.main-menu li a:hover {
    color: #d56f5b;
}

.nav-btn a.btn.menu-btn {
    color: #ffffff;
    background: #246071;
    border: 1px solid #5e5e5e;
    box-shadow: none;
    font-size: 14px;
    line-height: 36px;
    font-weight: 300;
    letter-spacing: 4px;
    padding-left: 28px;
    padding-right: 28px;
    text-transform: uppercase;
    transition: 0.3s;
}

.nav-btn a.btn.menu-btn:hover {
    color: #246071;
    background: transparent;
}

.header-menu .row {align-items: baseline;}
